html{
    font-family: 'Public Sans', sans-serif;
}

body{
    margin: 0px;
    background-color: #1A1B21;
    color: whitesmoke;
}

.header{
    text-align: center;
}

.header-text > h1, h4, p{
    margin: 0px;
}

.header-text>h1{
    margin-bottom: 6px;
    margin-top: 20px;
}

.header-text>h4{
    margin-bottom: 10px;
    font-weight: 400;
    color: #F3BF99;
}

.header-text>p{
    font-weight: 10;
    font-size: 13px;
    margin-bottom: 20px;
}
.profile-photo{
    padding-top: 25px;
    /* width: 50%; */
}

.button{
    display: flex;
    justify-content: center;
}

.button-email{
    display: flex;
    background-color:white;
    color: #374151;
    align-items: center;
    height: 30px;
    width: 84px;
    padding: 5px 15px;
    justify-content: center;
    border-radius: 8px;
    margin-right: 20px;
}
.button-email>img{
    margin-right: 3px;
}
.button-linkedin{
    display: flex;
    background-color:#5093E2;
    /* color: antiquewhite; */
    align-items: center;
    height: 30px;
    width: 84px;
    padding: 5px 15px;
    justify-content: center;
    border-radius: 8px;
}

.button-linkedin>img{
    margin-right: 3px;
}

.about-section{
    margin: 40px 40px 30px 40px
}

.about-section>h2,p{
    margin: 10px 0px
}

.interests-section{
    margin: 0px 40px 35px 40px
}

.interests-section>h2,p{
    margin: 10px 0px
}

.footer{
    background-color: #161619;
    text-align: center;
}

.footer>img{
    margin: 10px;
}


